#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  width: 200px;
}

.weather-info {
  margin-top: 2rem;
}

.weather-info img {
  width: 100px;
  height: 100px;
}

