#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  width: 200px;
  background-color: #f0f0f0;
  color : #333;
}

.weather-info {
  margin-top: 2rem;
}

.weather-info img {
  width: 100px;
  height: 100px;
}

.weather-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-box {
  margin: 0 1rem;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
}

.emoji {
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  .weather-box {
    background-color: #333;
  }
}